@import '~@angular/material/theming';
@include mat-core();

$my-theme-primary: mat-palette($mat-red, A200, A100, A400) ;
$my-theme-accent: mat-palette($mat-pink);
$my-theme-warm: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warm);

@include angular-material-theme($my-theme);
