
// FONTS
.font-1 {
    font-family: 'Bungee', cursive !important;
}
.font-2 {
    font-family: 'Poppins', sans-seri !important;
}
.font-3{
    font-family: consolas !important;
}

// GLOW BOX

.container-glow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
}
.card-glow {
  width: 80%;
  min-height: 500px;
  position: relative;
  transition: 0.5s;
  border-radius: 3px;
  margin: 1.4% 0 3%;
}

.card-glow::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.card-glow.b0 {
  background: linear-gradient(45deg, #ffcc00 0%, #ff0058 100%);
}

.card-glow.b1 {
  background: linear-gradient(315deg, #03a9f4 0%, #ff0058 100%);
}

.card-glow.b2 {
  background: linear-gradient(315deg, #4dff03 0%, #00d0ff 100%);
}

.card-glow span {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: var(--dark);
}

.content-glow {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.content-glow-title{
  margin: 15px 10% 25px;
  justify-content: center;
  display: flex;
  vertical-align:middle;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .content-glow-title{
    display: block;
    margin: 15px 10%;
  }
}

.content-glow h2{
  display: inline;
  font-size: 2.1rem;
  line-height: 40px;
  margin: 0 3% 15px;
}


//block btns
.block-btn{
  background: white; 
  color: black;
  font-size: 1.8rem;
  border-radius: 3px;
  font-weight: bold;
  padding: 17px;
  margin: 20px auto;
  border: 0;
  width: 80%;
  display:block;
}

// big btn
.big-btn{
  margin: 20px;
  font-size: 19px;
  line-height: 50px;
  min-width: 200px !important;
}

// small btn
.btn {
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0); 
  color: white;
  vertical-align: middle;
  border-radius: 5px;
  font-weight: bold;
  min-width: 110px;
  text-transform: uppercase;
  line-height: 37px;
}
.btn:hover{
  background-color: rgba(255, 255, 255, 0.123);
}