
// FONTS
.font-1 {
    font-family: "Bungee", cursive !important;
}
.font-2 {
    font-family: "Righteous", cursive !important;
}

// GRADIENT TEXT
.title {
    @extend .font-1;
    text-align: center;
    font-size: 5vw !important;
    background: linear-gradient(to right,var(--blue) 0%, var(--pink) 25%, var(--orange) 50%, var(--pink) 75%, var(--blue) 100%);
    background-size: 200% auto;
    background-clip: text;
    padding: 50px 0 70px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
  .subtitle {
    @extend .font-2;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: var(--pink);
    padding: 20px 0;
  }

// DIVIDER
.divider{
    border-top-width: 6px !important;
    border-top-color: var(--pink);
    border-radius: 90px;
    margin: 0 20% !important;
  }

// BUTTON
.content-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glow-on-hover {
    @extend .font-2;
    text-transform: uppercase;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 2.2px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 45px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 45px;
}
.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}