// THEMES
//@import "./my-theme.scss";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./my-styles.scss";

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@300;400;500;700&display=swap');

// @font-face {
// 	font-family: "Bungee";
// 	src: url(../fonts/Bungee-Regular.ttf) format("opentype");
// }

:root {
// COLORS
--orange: #eb7132;
--pink: #f27b9b;
--blue: #53d9d1;
--dark: #1d061a;
}

html,
body {
	background-color: var(--dark);
	height: 100%;
	margin: 0;

	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		background-color:var(--dark);
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background:var(--blue); 
	}
}
