// THEMES
//@import "./custom-theme.scss";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./custom-styles.scss";
@import "./fonts.scss";

:root {
// COLORS
--dark: #1d061a;
--pink: #ff0058;
--yellow: #ffcc00;
--blue: #03a9f4;
--light-blue: #00d0ff;
--green: #4dff03;
}

* { font-family: 'Poppins', sans-serif !important; }

html,
body {
	background-color: var(--dark);
	height: 100%;
	margin: 0;

	// scroll bar
	::-webkit-scrollbar {
		width: 9px;
	}
	::-webkit-scrollbar-track {
		-webkit-border-radius: 10px;
		background-color:var(--dark);
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: linear-gradient(45deg, var(--yellow) 0%, var(--pink) 100%);
	}
	::-webkit-scrollbar-thumb:hover {
		background: linear-gradient(45deg, #ffcc0098 0%, #ff0059bb 100%);
	}
}
