<div class="container-glow" *ngIf="data">
    <div class="card-glow" [ngClass]="'b'+activeIndex%3" *ngFor="let detail of data | filter:activeIndex;">
        <span></span>
        <div class="content-glow">{{activeIndex+1}} / {{data.length}}<br>
            <div class="content-glow-title">
                <h2 class="font-2  world-break">{{detail.question}}</h2><br>
                <mat-icon *ngIf="isAnswer()" class="icon" (click)="onNext()">arrow_forward</mat-icon>
            </div>
            <div *ngFor="let answer of detail.answers; let i = index"><button
                    [ngClass]="{'b-green': checkCorrect(i), 'b-red': checkWrong(i), 'btn-hover': !selectedAnswer}"
                    (click)="onClick(i, detail.correct) " class="block-btn font-2  world-break">{{answer}}</button>
            </div>
        </div>
    </div>
</div>