.linear-wipe {
  text-align: center;
  font-size: 5vw;
  background: linear-gradient(to right,var(--blue) 0%, var(--pink) 25%, var(--orange) 50%, var(--pink) 75%, var(--blue) 100%);
  background-size: 200% auto;
  background-clip: text;
  padding: 50px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}