
.next-btn{
  position: absolute;
  margin: 10px 50px;
}

@media screen and (max-width: 1500px) {
  .next-btn {
      margin: 10px;
      position: relative;
  }
  .content-glow h2{
    display: block;
  }
}

// start description
.block-desc {
  padding: 2%; 
  margin-bottom: 40px;
}

//block btn
.btn-hover:hover{
  background: #03a9f4;
  cursor: pointer;
}
.b-red{
  background: #ff0058;
  animation: tored 2s;
}
.b-green{
  background: #53ff03;
  animation: togreen 2s;
}

@keyframes togreen {
  from {background: #cbfdb3}
  to {background:  #53ff03}
}
@keyframes tored {
  from {background: #03a9f4}
  to {background:  #ff0058}
}


