.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 80%;
  min-height: 500px;
  position: relative;
  transition: 0.5s;
  border-radius: 3px;
  margin: 1.4% 0 3%;
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.card.b0 {
  background: linear-gradient(45deg, #ffcc00 0%, #ff0058 100%);
}

.card.b1 {
  background: linear-gradient(315deg, #03a9f4 0%, #ff0058 100%);
}

.card.b2 {
  background: linear-gradient(315deg, #4dff03 0%, #00d0ff 100%);
}

.card span {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: var(--dark);
}

.content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.content-title{
  margin: 15px 0 40px;
}

.content h2{
  display: inline;
  font-size: 2.1rem;
  line-height: 40px;
  margin: 0 3%;
}

.btn {
  position: absolute;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0); 
  outline: 1px solid white;
  color: white;
  vertical-align: middle;
  margin: 0 20px;
}
.btn:hover{
  background-color: rgba(255, 255, 255, 0.123);
}
@media screen and (max-width: 900px) {
  .btn {
    position: initial !important;
      margin: 10px;
  }
}
//block btns
.block-btn{
  background: white; 
  color: black;
  font-size: 1.8rem;
  border-radius: 3px;
  font-weight: bold;
  padding: 17px;
  margin: 20px auto;
  border: 0;
  width: 80%;
  display:block;
}

.btn-hover:hover{
  background: #03a9f4;
  cursor: pointer;
}
.b-red{
  background: #ff0058;
  animation: tored 2s;
}
.b-green{
  background: #53ff03;
  animation: togreen 2s;
}

@keyframes togreen {
  from {background: #cbfdb3}
  to {background:  #53ff03}
}
@keyframes tored {
  from {background: #03a9f4}
  to {background:  #ff0058}
}




