<div class="container-glow" *ngIf="quiz">
    <div class="card-glow b1">
        <span></span>
        <div class="content-glow">
            <div class="content-glow-title">
                <h2 class="font-2 title">{{quiz.category}}</h2>
            </div><button class="block-btn-outlined font-2">{{quiz.description}} {{quiz.description}} {{quiz.description}}
                {{quiz.description}} {{quiz.description}} {{quiz.description}} {{quiz.description}}</button><button
                class="btn big-btn font-2" (click)="onClick()">Start</button>
        </div>
    </div>
</div>