<div class="container-glow" *ngIf="quiz">
    <div class="card-glow b2">
        <span></span>
        <div class="content-glow">
            <div class="content-glow-title">
                <div class="neon-container">
                    <div class="neon font-3 uppercase">{{quiz.category}}</div>
                </div>
            </div>
            <div class="font-2 text">{{quiz.description}}</div>

            <button class="btn big-btn font-2" (click)="onClick()">Start</button>
        </div>
    </div>
</div>