<div class="body" *ngIf="quizzes.length; else loader">
    <div class="container">
        <div class="box" *ngFor="let quiz of quizzes" [routerLink]="quiz.id.toString()">
            <span></span>
            <div class="content world-break hide-text">
                <h2>{{quiz.category | translate}}</h2>
                <p class="hide-text world-break">
                    {{quiz.description | translate}}
                </p>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>