
input.margin {
  margin-bottom: 10px;
  width: 97%;
  }
  input {
    width: 100%;
    font-size: 20px;
    min-height: 35px;
    border: none;
    border: 2px solid var(--yellow);
    border-radius: 6px;
    outline: none;
    padding: 5px 10px;
    color: var(--pink);
  }
  input:focus {
    border: 2px solid var(--pink) !important;
  }
  ::placeholder {
    color: var(--yellow);
  }
  
  .valid.v1 {
    margin: 10px 42px;
  }
  // RADIO
  .radio {
    display: flex; 
    justify-content: space-between; 
    margin-top: 10px;
  }
  .mat-radio-group {
  margin-top: 60px;
  }
  .mat-radio-button {
  margin-right: 7px;
  align-self: center;
  display: inline-block;
  }
  
  //color
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: var(--pink) !important;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: var(--pink) !important;
  }
  
  ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:var(--pink) !important; 
  }
  
  //size
  :host ::ng-deep .mat-radio-container{
    height: 23px;
    width: 23px;
  }
  :host ::ng-deep .mat-radio-outer-circle{
    height: 23px;
    width: 23px;
  }
  :host ::ng-deep .mat-radio-inner-circle{
    height: 23px;
    width: 23px;
  }
  
  