<div class="body">
    <div class="container">

        <div class="card" routerLink="quizzes">
            <span></span>
            <div class="content">
                <h2 class="font-1">{{'home.quizzes' | translate }}</h2>
            </div>
        </div>

        <div class="card" routerLink="add">
            <span></span>
            <div class="content">
                <h2 class="font-1">{{'home.add_new' | translate }}</h2>
            </div>
        </div>

        <div class="card" routerLink="info">
            <span></span>
            <div class="content">
                <h2 class="font-1">{{'home.info' | translate }}</h2>
            </div>
        </div>
    </div>
</div>