<div class="body">
    <div class="container">

        <div class="card" routerLink="quizzes">
            <span></span>
            <div class="content">
                <h2 class="font-1">{{'HOME.QUIZZES' | translate }}</h2>
            </div>
        </div>

        <div class="card" routerLink="add">
            <span></span>
            <div class="content">
                <h2 class="font-1">{{'HOME.ADD_NEW' | translate }}</h2>
            </div>
        </div>

        <div class="card" routerLink="info">
            <span></span>
            <div class="content">
                <h2 class="font-1">{{'HOME.INFO' | translate }}</h2>
            </div>
        </div>
    </div>
</div>