<form [formGroup]="form" class="body-form" (ngSubmit)="onSubmit()">
   <div class="container-form">
      <input [formControl]="category" formControlName="category" class="question font-2" placeholder="Category">
      <div [hidden]="category.valid || category.untouched" class="valid m"> {{getError(category, 'Category', 2)}} </div>

      <textarea [formControl]="description" formControlName="description" class="question font-2"
         placeholder="Description"></textarea>
      <div [hidden]="description.valid || description.untouched" class="valid">
         {{getError(description, 'Description', 10, 100)}}</div>
   </div>

   <div class="container-form" formArrayName="details"
      *ngFor="let detail of form.controls['details']?.value; let i = index;  trackBy:trackByFn">
      <ng-container [formGroupName]="i">

         <input class="question font-2" placeholder="Question" formControlName="question">
         <div class="buttons" *ngFor="let answer of detail.answers; let j = index;  trackBy:trackByFn">
            <input type="radio" class="radio" [id]="numToStr(j, i)" name="answer" (change)="radioChange(i, j)">
            <label [for]="numToStr(j, i)" formGroupName="answers" name="answer">
               <input class="font-2" [placeholder]="'Answer '+(j+1)" [formControlName]="j">
            </label>
         </div>
      </ng-container>
   </div>

   <div class="container-btn">
      <button class="btn font-2" (click)="addQuestion()" [disabled]="form.controls['details'].value.length==20"
         type="button">More</button>
      <button class="btn font-2" (click)="removeQuestion()" [disabled]="form.controls['details'].value.length==1"
         type="button">Less</button>
      <button class="btn font-2" type="submit" [disabled]="!form.valid">Submit</button>
   </div><br><br>
</form>