<mat-toolbar *ngIf="active" class="toolbar">
    <div class="dot-menu">
        <input id="dot-menu" type="checkbox" class="dot-menu__checkbox">
        <label for="dot-menu" class="dot-menu__label"><span>Menu</span></label>
    </div>


    <div class="close-container">
        <div class="leftright"></div>
        <div class="rightleft"></div>
    </div>


    <li *ngFor="let locale of localeList">


        <a href="/{{locale.code}}/">
            {{locale.label}}
        </a>
    </li>

</mat-toolbar>