.toolbar{
  background-color:transparent
}

// DOTS
@mixin text-invisible {
  text-indent: -9999em;
}
$dot-menu-size: 55px;
$dot-menu-dot-color: var(--blue);
$dot-menu-dot-color-active: var(--orange);
$dot-menu-dot-size: $dot-menu-size / 6;
@mixin dot-menu-circle {
  content: "";
  position: absolute;
  width: $dot-menu-dot-size;
  height: $dot-menu-dot-size;
  border-radius: $dot-menu-dot-size;
  transition: .8s;
  background-color: $dot-menu-dot-color;
}

.dot-menu {
  position: absolute;
  right: 80px;
  top: 10px; 
}
.dot-menu__checkbox {
  display: none;
}
.dot-menu__label:before,
.dot-menu__label:after {
  @include dot-menu-circle;
  left: $dot-menu-size / 2 - $dot-menu-dot-size / 2;
  transition: .2s;
}

.dot-menu__label:after {
  top: $dot-menu-size - $dot-menu-size / 3;
}
.dot-menu__label:before {
  top: $dot-menu-size / 6;
}
.dot-menu__checkbox:hover {
  ~ .dot-menu__label:before,
  ~ .dot-menu__label span:before,
  ~ .dot-menu__label:after {
    background-color: $dot-menu-dot-color-active;
    //move all icons into the center
    top: $dot-menu-size / 2 - $dot-menu-dot-size / 2
  }
  ~ .dot-menu__label span:before {
    width: $dot-menu-size / 2;
    left: $dot-menu-size / 2 - $dot-menu-dot-size - $dot-menu-dot-size / 2;
  }
}
.dot-menu__label {
  cursor: pointer;
  width: $dot-menu-size;
  height: $dot-menu-size;
  display: block;
  @include text-invisible;
  span:before {
    @include dot-menu-circle;
    left: $dot-menu-size / 2 - $dot-menu-dot-size / 2;
    top: $dot-menu-size / 2 - $dot-menu-dot-size / 2
  }
}

// CLOSE 
.close-container{
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0px;
  top: 0px; 
}

.leftright{
  height: 5px;
  width: 45px;
  position: absolute;
  right: 25px;
  top: 35px; 
  background-color: var(--pink);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 5px;
  width: 45px;
  position: absolute;
  right: 25px;
  top: 35px; 
  background-color: var(--pink);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: var(--orange);
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: var(--orange);
}
.close-container:hover label{
  opacity: 1;
}
