.toolbar{
  background-color:transparent
}
.hide {
  display: none;
}

// CLOSE 
.close-container{
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0px;
  top: 0px; 
}

.leftright{
  height: 5px;
  width: 45px;
  position: absolute;
  right: 25px;
  top: 35px; 
  background-color: #ff0058;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 5px;
  width: 45px;
  position: absolute;
  right: 25px;
  top: 35px; 
  background-color: #ff0058;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #ffcc00;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #ffcc00
}
.close-container:hover label{
  opacity: 1;
}
