

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  line-height: 25px;
}

.body-cards-glow {
  min-height: 85vh;
}

.card-cards-glow {
  width: 289px;
  height: 380px;
}

.card-cards-glow::before {
  filter: blur(40px);
}

.content-cards-glow {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.05) 50%
  );
  padding: 40px 20px;
}

