<div class="container-form" [formGroup]="quiz" (ngSubmit)="onSubmita()">
   <input formControlName="category" class="question font-2" placeholder="Category" type="text" name="question">
   <textarea formControlName="description" class="question font-2" placeholder="Description" type="text"
      name="question"></textarea>
</div>



<div>
   <div class="container-form" *ngFor="let i of [0,1]">
      <input class="question font-2" placeholder="Question" type="text" name="question">
      <div class="buttons" *ngFor="let j of [0,1,2,3]">
         <input type="radio" class="radio" [id]="(j.toString()+i.toString())" name="answer">
         <label [for]="j.toString()+i.toString()">
            <input class="font-2" [placeholder]="'Answer '+(j+1)" type="text" name="answer">
         </label>
      </div>
   </div>
</div>



<div class="container-btn">
   <button class="btn font-2">More</button>
   <button class="btn font-2">Less</button>
   <button class="btn font-2" (click)="onSubmita()">Submit</button>
</div><br><br>








<form [formGroup]="form">
   <button (click)="addCreds()">Add</button>
   <div formArrayName="credentials" *ngFor="let creds of form.controls['credentials']?.value; let i = index">
      <ng-container [formGroupName]="i">
         <span style="color: aliceblue;">{{creds | json}} </span>
         <input placeholder="Username" formControlName="username"> <br>
         <div *ngFor="let password of creds.password; let j = index">
            <ng-container [formGroupName]="'password'">
          aaaaaaa  <span style="color: aliceblue;">{{password | json}} </span>
          <input placeholder="Password" [formControlName]="j"> <br>
            </ng-container>
         </div>
      </ng-container>
   </div>




</form>