<div class="container">
   <input class="question font-2" placeholder="Category" type="text" name="question">
   <textarea class="question font-2" placeholder="Description" type="text" name="question"></textarea>
</div>
<div class="container" *ngFor="let i of [0,1]">
   <input class="question font-2" placeholder="Question" type="text" name="question">
   <div class="buttons" *ngFor="let j of [0,1,2,3]">
      <input type="radio" class="radio" [id]="(i+j)" name="name">
      <label [for]="i+j"> <input class="font-2" [placeholder]="'Answer '+(j+1)" type="text" name="question"></label>
   </div>
</div>
<div class="container-btn">
   <button class="btn font-2">Add question</button>
   <button class="btn font-2">Save</button>
</div><br><br>