// SELECT
.select {
  position: absolute;
  right: 140px;
  top: -50px;
  width: 100px !important;
  transform: translate(-2px, 44px) !important;
  visibility: hidden;
}
.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled){
  color: var(--light-blue);
}

// DOTS
  @mixin dot-menu-circle {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    transition: .8s;
    background-color: var(--light-blue);
  }
  .dot-menu {
    position: absolute;
    right: 80px;
    top: 10px; 
  }
  .dot-menu__checkbox {
    display: none;
  }
  .dot-menu__label:before,
  .dot-menu__label:after {
    @include dot-menu-circle;
    left: 23px;
    transition: .2s;
  }
  
  .dot-menu__label:after {
    top: 37px;
  }
  .dot-menu__label:before {
    top: 9px;
  }
  .dot-menu__checkbox:hover {
    ~ .dot-menu__label:before,
    ~ .dot-menu__label span:before,
    ~ .dot-menu__label:after {
      background-color: var(--green);
      //move all icons into the center
      top: 23px;
    }
    ~ .dot-menu__label span:before {
      width: 27px;
      left: 14px;
    }
  }
  .dot-menu__label {
    cursor: pointer;
    width: 55px;
    height: 55px;
    display: block;
    text-indent: -9999em;
    span:before {
      @include dot-menu-circle;
      left: 23px;
      top: 23px;
    }
  }
  