
.box {
    padding: 30px 24% 0;
    margin: 40px 0 50px !important;
  }
  
  .margin {
      margin-top: calc(45px + 2%)!important;
  }
  
  .subtitle {
      text-transform: uppercase;
      font-size: 32px !important;
  }

  // BUTTON
  .glow-on-hover {
    width: 300px;
    background-image: linear-gradient(180deg, var(--pink) 0%, var(--blue) 100%);
    border: 1px solid var(--pink);
    margin: 0 50px;
  }
  