
<div class="body">



    <div class="background-three link-container">
        <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Quizes</a>
    </div>

    <div class="background-one">
        <div class="link-container">
            <a class="link-one" href="https://jhancock532.github.io/link-hover-effects/">Add new</a>
        </div>
    </div>
    <div class="background-two link-container">
        <a class="link-two" href="https://jhancock532.github.io/link-hover-effects/">Info</a>
    </div>
</div>