<div class="container-glow">
    <div class="card-glow b2">
        <span></span>
        <div class="content-glow">
            <div class="content-glow-title">
                <h2 class="font-2 uppercase">{{'QUIZZES.YOUR_SCORE' | translate }}</h2>
            </div>
            <!-- <button class="block-btn neon font-3">{{score}}</button> -->
            <div  class="neon font-3 uppercase">{{score}}</div>
            <button class="btn big-btn font-2" (click)="toQuizId()">Try gain</button>
            <button class="btn big-btn font-2" (click)="toQuizzes()">Quizzes</button>
        </div>
    </div>
</div>