<!-- <mat-divider class="divider margin"></mat-divider>
<p class="subtitle">{{'QUIZZES.YOUR_SCORE' | translate }}</p>
<mat-divider class="divider"></mat-divider> -->

<div class="center">
    <div class="box" style="width: 50%;">
        <h1 class="title" style="line-height: 80px;" *ngIf="score">{{score}}</h1>
    </div>
</div>

<div class="center">
    <button class="glow-on-hover" style="margin: 60px;" type="button" routerLink="/quizzes">
        {{'QUIZZES.SUBMIT' | translate }}</button>
</div>