<div class="container-glow">
    <div class="card-glow b2">
        <span></span>
        <div class="content-glow">
            <div class="content-glow-title">
                <h2 class="font-2 title">{{'QUIZZES.YOUR_SCORE' | translate }}</h2>
            </div>
            <button class="block-btn-outlined font-2">{{score}}</button>
            <button class="btn font-2" (click)="toQuizId()">Try gain</button>
            <button class="btn font-2" (click)="toQuizzes()">Quizzes</button>
        </div>
    </div>
</div>